*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.data-section{
    background-color: #27282b;    
}

.nav-section a{
    background: -webkit-linear-gradient(#F0C89B, #F45990);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-section a:hover{
    color: #837876;
}
.english{
    font-family: Cambria;
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    background: -webkit-linear-gradient(#F0C89B, #F45990);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;     
}
.fa-bars{
    color: #F0C89B;
}
.dropdown-menu{
    background-color: #27282b;
}
.background{
    background-color: #F0C89B;
}

.profile{
    color: #B2A5B9;
}
.card-body{
    background-color: #27282b;
}
.instagram .fab{
    
    background: #F45990;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.upbtn{
    background-color: gray;
    border: 1px solid #fee;
    display: none;
    margin: 0;
    position: fixed;
    bottom: 1%;
    right: 0.5%;
    background-color: rgba(230, 240, 233, 0.7);
    border-radius: 5px;
}
@media(max-width:767px){
    .media h3{
        font-size: 19px;
    }
    .media p{
        font-size: 14px;
    }
    footer{
        font-size: 13px;
    }
}
